.container-full-screen, .container-narrow
	+clearfix
	@extend .block-center

	width: 100%

.container-narrow
	width: 80%
	max-width: rem(900px)

nav
	+border-radius(4px)

	margin-top: $double-unit-layout
	margin-bottom: $double-unit-layout
	height: $quadruple-unit-layout
	border: 1px solid $color-grey-100
	background: $color-grey-50

footer
	color: $color-grey-300
	font-size: rem(12px)
	text-align: center
	padding: $triple-unit-layout $base-unit-layout